<p>¿Le interesa el plan de administración del saldo, a gestionar de forma totalmente personal?
    Rellene este formulario, para poder tener acceso a esta nueva funcionalidad y para recibir más información.</p>
<div class="contForm">
    <div class="form">
        <form>
            <label>Introduce tu NIF y PIN</label>
            <div>
                <label>NIF: </label>
                <input type="text">
            </div>
            <div>
                <label>PIN: </label>
                <input type="password">
            </div>
        </form>
    </div>
    <div class="botones">
        <div class="limpiar">
            <button>Limpiar</button>
        </div>
        <div class="acceder">
            <a><button>Acceder</button></a>
        </div>
    </div>
</div>
