<div class="form">
    <p>¿Le interesa el plan de administración del saldo, a gestionar de forma totalmente personal?
        Rellene este formulario, para poder tener acceso a esta nueva funcionalidad y para recibir más información.</p>
    <form>
        <label>FORMULARIO</label>
        <div>
            <label>Nombre: </label>
            <input type="text">
        </div>
        <div>
            <label>Apellidos: </label>
            <input type="text">
        </div>
        <div>
            <label>Correo electrónico: </label>
            <input type="text">
        </div>
        <div>
            <label>Teléfono: </label>
            <input type="text">
        </div>

        <div>
            <label>Código Postal: </label>
            <input type="text">
        </div>
        <div>
            <input type="submit" value="Enviar">
        </div>
    </form>
</div>
