<h3>Categorías</h3><!--categorias en las que se podrán clasificar los gastos realizados-->
<div class="cat">
  <div>
    <a href="/gestion/">
      <span class="material-symbols-outlined">
        payments
      </span>
      Pagos y efectivo</a><!--bizums, retirada de dinero en efectivo..-->
  </div>
  <div>
    <a href="/gestion">
      <span class="material-symbols-outlined">
        real_estate_agent
      </span>
      Suministros</a>
  </div><!--suministros: electricidad, agua, gas, internet-->
  <div>
    <a href="/gestion">
      <span class="material-symbols-outlined">
        receipt
        </span>
      Impuestos</a>
  </div><!--impuestos-->
  <!--mascotas-->
  <div>
    <a href="/gestion">
      <span class="material-symbols-outlined">
        Home
      </span>
      Vivienda</a>
  </div>
  <!--vivienda: alquiler, pagos hipoteca, mantenimiento y reparaciones-->
  <div>
    <a href="/gestion">
      <span class="material-symbols-outlined">
        restaurant
      </span>
      Alimentación</a>
  </div>
  <!---->
  <div>
    <a href="/gestion">
      <span class="material-symbols-outlined">
        commute
      </span>
      Transporte</a>
  </div>
  <!--combustible, transporte publico, mantenimiento vehiculos, tarifa estacionamiento-->
  <div>
    <a href="/gestion">
      <span class="material-symbols-outlined">
        toys_and_games
      </span>
      Ocio</a>
  </div>
  <!--cine, conciertos, eventos, libros, aficiones, ropa-->
  <div>
    <a href="/gestion">
      <span class="material-symbols-outlined">
        vital_signs
      </span>
      Salud</a>
  </div>
  <!--seguro medico, visitas medicas, medicamentos-->
  <div>
    <a href="/gestion">
      <span class="material-symbols-outlined">
        savings
      </span>
      Ahorro</a>
  </div>
</div>

<!--Cosas que modificar y tener en cuenta, solo se debe poder acceder a /gestion, si el usuario esta logueado, sino me tendría que llevar a otra página que fuera por ejemplo simulacionCategoria-->
