<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PFC</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <div class="cabecera">
    <a href="/">
      <h1>{{title}}</h1>
    </a>
    <div class="enlacesBotones">
      <a class="btn1">Hazte cliente</a>
      <a class="btn2" href="/login">
        <span class="material-symbols-outlined">
          account_circle
        </span>
        Área cliente
      </a>
    </div>
  </div>


  <div class="menu">
    <div>
      <a><span class="material-symbols-outlined">
          account_balance
        </span>Cuentas</a>
    </div>
    <div>
      <a><span class="material-symbols-outlined">
          credit_card
        </span>Tarjetas</a>
    </div>
    <div>
      <a><span class="material-symbols-outlined">
          money_bag
        </span>Préstamos</a>
    </div>
    <div>
      <a><span class="material-symbols-outlined">
          verified_user
        </span>Seguros</a>
    </div>
    <div>
      <a><span class="material-symbols-outlined">
          contract
        </span>Transacciones</a>
    </div>
    <div>
      <a href="/categorias"><span class="material-symbols-outlined">
          inventory
        </span>Plan de gestión personal</a>
    </div>

  </div>

</body>

</html>
<router-outlet></router-outlet>

