<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PFC</title>
  <!--<script src="https://kit.fontawesome.com/4145b08c00.js" crossorigin="anonymous"></script>-->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=home" />
</head>

<body>

  <h1>{{title}}</h1>

  <div class="menu">
    <p>Cuentas</p>
    <p>Tarjetas</p>
    <p>Préstamos</p>
    <p>Seguros</p>
    <p>Transacciones</p>
    <p>Plan de gestión personal</p>
  </div>

  <h1>Plan de gestión personal del saldo</h1>

  <div class="contenedor">
    <div class="tiempo">
      <h3>Tiempo</h3>
      <div>
        <input type="radio" id="anual" name="tiempo" value="anual" />
        <label for="anual">Anual</label>
      </div>
      <div>
        <input type="radio" id="mensual" name="tiempo" value="mensual" checked />
        <label for="mensual">Mensual</label>
      </div>

      <div>
        <input type="radio" id="semanal" name="tiempo" value="semanal" />
        <label for="semanal">Semanal</label>
      </div>

    </div>
    <!--se podrían crear dos categorías, más generales, anteriores a las siguientes que sean 
    gastos fijos(vivienda, cuentas y pagos) y 
    gastos variables (ropa, alimentacion, ocio, otros, transporte), para mayor esquematización-->
    <div class="cat">
      <h3>Categorías</h3><!--cada categoria iría con un icono grande representativo-->
      <div>
        <input type="radio" id="cat1" name="cat" value="alimentacion" checked />
        <label for="cat1">Alimentacion</label>
      </div>
      <div>
        <input type="radio" id="cat2" name="cat" value="ropa" />
        <label for="cat2">Ropa</label>
      </div>
      <div class="vivienda">
        <input type="radio" id="cat3" name="cat" value="vivienda" />
        <label for="cat3">Vivienda</label>
        <div class="iconoCasa">
          <!--<i class="fa-solid fa-house"></i>-->
          <span class="material-symbols-outlined">
            home
          </span>
        </div>
      </div>
      <div>
        <input type="radio" id="cat4" name="cat" value="transporte" />
        <label for="cat4">Transporte</label>
      </div>
      <div>
        <input type="radio" id="cat5" name="cat" value="cuentasPagos" />
        <label for="cat5">Cuentas y pagos</label>
      </div>
      <div>
        <input type="radio" id="cat6" name="cat" value="ocio" />
        <label for="cat6">Ocio</label>
      </div>
      <div>
        <input type="text" id="otros" name="cat" value="Otros" />
      </div>

    </div>

    <p class="dest">Se destinará X € a X categoría durante X tiempo.</p>


    <div class="form">
      <p>¿Le interesa el plan de administración del saldo, a gestionar de forma totalmente personal?
        Rellene este formulario, para poder tener acceso a esta nueva funcionalidad y para recibir más información.</p>
      <form>
        <label>FORMULARIO</label>
        <div>
          <label>Nombre: </label>
          <input type="text">
        </div>
        <div>
          <label>Apellidos: </label>
          <input type="text">
        </div>
        <div>
          <label>Correo electrónico: </label>
          <input type="text">
        </div>
        <div>
          <label>Teléfono: </label>
          <input type="text">
        </div>

        <div>
          <label>Código Postal: </label>
          <input type="text">
        </div>
        <div>
          <input type="submit" value="Enviar">
        </div>
      </form>

      <p>Este plan de gestión personal del saldo, es una forma orientativa de organización y gestión del saldo. De
        ninguna
        manera, se restringirá ni se privará de gastar la cantidad establecida, siempre que sea una cantidad disponible
        en
        la cuenta bancaria.</p>
    </div>

  </div>
</body>

</html>
