<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PFC</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <div class="cabecera">
    <a href="http://localhost:4200/"><h1>{{title}}</h1></a>
    <div class="enlacesBotones">
      <a class="btn1">Hazte cliente</a>
      <a class="btn2" href="http://localhost:4200/login">
        <span class="material-symbols-outlined">
          account_circle
        </span>
        Área cliente
      </a>
    </div>
  </div>

  <div class="menu">
    <div>
      <span class="material-symbols-outlined">
        account_balance
      </span>
      <a>Cuentas</a>
    </div>
    <div>
      <span class="material-symbols-outlined">
        credit_card
      </span>
      <a>Tarjetas</a>
    </div>
    <div>
      <span class="material-symbols-outlined">
        money_bag
      </span>
      <a>Préstamos</a>
    </div>
    <div>
      <span class="material-symbols-outlined">
        verified_user
      </span>
      <a>Seguros</a>
    </div>
    <div>
      <span class="material-symbols-outlined">
        contract
      </span>
      <a>Transacciones</a>
    </div>
    <div>
      <span class="material-symbols-outlined">
        inventory
      </span>
      <a href="http://localhost:4200/categorias">Plan de gestión personal</a>
    </div>

  </div>

</body>
</html>
<router-outlet></router-outlet>

