<app-cabecera-pie></app-cabecera-pie>

<div class="contenedor">
  <h1>Plan de gestión personal del saldo</h1>

  <div class="contenedor">

    <p class="dest">Podrá decidir la cantidad que quiera destinar a cada categoría escogida, durante un plazo
      determinado de forma personalizada.</p>

    <app-opciones-categorias></app-opciones-categorias>
  </div>

  <p>Seleccione una categoría, arriba mostradas:</p>

  <!--se destinara el dinero especificado, a la categoria seleccionada durante el tiempo escogido en el select-->

  <label>Presupuesto para la categoría seleccionada: </label>
  <input type="number">
  <span> €</span>

  <div class="tiempo">
    <label>Frecuencia: </label>
    <select name="select">
      <option value="anual">Anual</option>
      <option value="mensual" selected>Mensual</option>
      <option value="semanal">Semanal</option>
    </select>
  </div>
</div>

<p class="plan">Este plan de gestión personal del saldo, es una forma orientativa de organización y gestión del saldo.
  De ninguna manera se restringirá ni se privará de gastar la cantidad establecida,
  siempre que sea una cantidad disponible en la cuenta bancaria.</p>

<!--se redirige a esta página cuando pinche en Plan de gestión personal en el menú-->
