<div class="contenedor">
    <h1>Plan de gestión personal del saldo</h1>
  
    <div class="contenedor">
  
      <!--se podrían crear dos categorías, más generales, anteriores a las siguientes que sean 
      gastos fijos(vivienda, alimentacion, cuentas y pagos) y 
      gastos variables (ropa, ocio, otros, transporte), para mayor esquematización-->
      <h3>Categorías</h3>
      <div class="cat">
        <div>
          <a>
            <span class="material-symbols-outlined">
              payments
            </span>
            Cuentas y pagos</a>
        </div>
        <div>
          <a>
            <span class="material-symbols-outlined">
              restaurant
            </span>
            Alimentacion</a>
        </div>
        <div>
          <a>
            <span class="material-symbols-outlined">
              Home
            </span>
            Vivienda</a>
        </div>
        <div>
          <a>
            <span class="material-symbols-outlined">
              commute
            </span>
            Transporte</a>
        </div>
        <div>
          <a>
            <span class="material-symbols-outlined">
              checkroom
            </span>
            Ropa</a>
        </div>
        <div>
          <a>
            <span class="material-symbols-outlined">
              toys_and_games
            </span>
            Ocio</a>
        </div>
        <div>
          <a>
            <span class="material-symbols-outlined">
              savings
            </span>
            Ahorro</a>
        </div>
        <div>
          <a>
            <span class="material-symbols-outlined">
              list
            </span>
            Otros</a>
        </div>
  
      </div>
  
  
  
    </div>
    <p class="plan">Este plan de gestión personal del saldo, es una forma orientativa de organización y gestión del saldo.
      De ninguna manera, se restringirá ni se privará de gastar la cantidad establecida, siempre que sea una cantidad disponible
      en la cuenta bancaria.</p>
  
    <p class="dest">Se destinará X € a X categoría de forma </p>
    <!--se destinará el dinero especificado, a la categoria seleccionada durante el tiempo escogido en el select(mensual/semanal/anual)-->
    <div class="tiempo">
      <select name="select">
        <option value="anual">Anual</option>
        <option value="mensual" selected>Mensual</option>
        <option value="semanal">Semanal</option>
      </select>
    </div>
  </div>
  
  <!--se redirige a esta página cuando pinche en Plan de gestión personal en el menú-->
