<div class="contenedor">
    <div class="tiempo">
      <h3>Tiempo</h3>
      <div>
        <input type="radio" id="anual" name="tiempo" value="anual" />
        <label for="anual">Anual</label>
      </div>
      <div>
        <input type="radio" id="mensual" name="tiempo" value="mensual" checked />
        <label for="mensual">Mensual</label>
      </div>

      <div>
        <input type="radio" id="semanal" name="tiempo" value="semanal" />
        <label for="semanal">Semanal</label>
      </div>

    </div>

  </div>
