<app-cabecera-pie></app-cabecera-pie>
<div class="cont">
    <h1>AHORRA MÁS QUE TIEMPO</h1>
</div>

<div class="cont2">
    <h1>Funcionalidades a tu medida para gestionar tu dinero</h1>
    <div class="cajaCont">
        <div><span class="material-symbols-outlined">
                menu
            </span>Organiza tus gastos automáticamente por categoría y visualiza tu consumo mes a mes. ¡Detecta dónde puedes ahorrar!
        </div>
        <div>
            <span class="material-symbols-outlined">
                menu
            </span>Consulta tu saldo disponible, ingresos y gastos de forma visual. Descubre cuánto puedes ahorrar cada mes.
        </div>
        <div>
            <span class="material-symbols-outlined">
                menu
            </span>Asigna un presupuesto a cada categoría y recibe alertas cuando estés a punto de superarlo. Controla mejor tu dinero.
        </div>

    </div>
</div>
<div class="cont3">
    <div>
        <h1>¡HAZTE CLIENTE!</h1>
    </div>
    <div>
        <p>Abre tu cuenta desde casa, sin comisiones ni trámites complejos.
Solo necesitas tu DNI y conexión a internet.
¡Hazte cliente hoy y empieza a gestionar tu dinero con libertad!</p>
    </div>
</div>
