<app-cabecera-pie></app-cabecera-pie>
<div class="cont">
    <h1>AHORRA MÁS QUE TIEMPO</h1>
</div>

<div class="cont2">
    <h1>Funcionalidades a tu medida para gestionar tu dinero</h1>
    <div class="cajaCont">
        <div><span class="material-symbols-outlined">
                menu
            </span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam amet labore, culpa praesentium eum
            voluptate temporibus facilis eaque, autem, suscipit aspernatur inventore quos beatae impedit vel officia
            molestiae. Praesentium, recusandae.
        </div>
        <div>
            <span class="material-symbols-outlined">
                menu
            </span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam amet labore, culpa praesentium eum
            voluptate temporibus facilis eaque, autem, suscipit aspernatur inventore quos beatae impedit vel officia
            molestiae. Praesentium, recusandae.
        </div>
        <div>
            <span class="material-symbols-outlined">
                menu
            </span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam amet labore, culpa praesentium eum
            voluptate temporibus facilis eaque, autem, suscipit aspernatur inventore quos beatae impedit vel officia
            molestiae. Praesentium, recusandae.
        </div>

    </div>
</div>
<div class="cont3">
    <div>
        <h1>¡HAZTE CLIENTE!</h1>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus a hic, nobis nihil, aperiam totam vitae
            deleniti incidunt quia architecto quidem! Nihil, nam. Amet, impedit ratione. Dolores perferendis numquam
            molestias?</p>
    </div>
</div>
