<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="cab">
    <app-logo-principal></app-logo-principal>
    <div class="busc">
        <span class="material-symbols-outlined">
            search
        </span>
        <input type="text" placeholder="Buscador" name="buscador">
    </div>
</div>

<div>
    <div class="menu">
        <div class="separador"></div>
        <div>
            <a><span class="material-symbols-outlined">
                    account_balance
                </span>Cuentas</a>
        </div>
        <div>
            <a><span class="material-symbols-outlined">
                    credit_card
                </span>Tarjetas</a>
        </div>
        <div>
            <a><span class="material-symbols-outlined">
                    money_bag
                </span>Préstamos</a>
        </div>
        <div>
            <a><span class="material-symbols-outlined">
                    verified_user
                </span>Seguros</a>
        </div>
        <div>
            <a><span class="material-symbols-outlined">
                    contract
                </span>Transacciones</a>
        </div>
    
        <div class="separador"></div>
        <p>Servicios</p>
        <div>
            <a href="/acceso"><span class="material-symbols-outlined">
                    inventory
                </span>Plan de gestión personal</a>
        </div>
        <div class="separador"></div>
    </div>
</div>
