<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="cab">
    <app-logo-principal></app-logo-principal>
    <div class="busc">
        <span class="material-symbols-outlined">
            search
        </span>
        <input type="text" placeholder="Buscador" name="buscador">
    </div>
</div>

<div class="cont">
    <div>
        <app-menu-lateral></app-menu-lateral>
    </div>

    <div>
        <p>La siguiente gráfica muestra la media de todos los gastos realizados en el último mes</p>
        <div class="grafica">
            <img
                src="https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2022/10/grafico-refleja-porcentaje-gastos-mes-presupuesto-personal-2856117.jpg?tf=3840x">
                <!---->
        </div>
    </div>
    <!-- <div class="cubosInfo">
        <div>
            <p>Disponible</p>
            <h3>5.678,40€</h3>
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore maxime mollitia nostrum asperiores enim eos explicabo corporis ea repudiandae, expedita esse beatae eveniet at animi, cum placeat, illo impedit iusto?</p>
        </div>
        <div>
            <p>Consumido</p>
            <h3>1.459,78€</h3>
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore maxime mollitia nostrum asperiores enim eos explicabo corporis ea repudiandae, expedita esse beatae eveniet at animi, cum placeat, illo impedit iusto?</p>
        </div>
    </div> -->
</div>
